POSTGRES_USER=db
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=postgres
APP_SUBNET=10.200.0.0/16
APP_GATEWAY=10.200.0.1
DB_SUBNET=10.201.0.0/16
DB_GATEWAY=10.201.0.1
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
LOCAL_IP=192.168.0.107
SPRING_DATASOURCE_USERNAME=your_db_username
SPRING_DATASOURCE_PASSWORD=your_db_password
KEYCLOAK_ISSUER_URI=http://lvh.me:8080/realms/docs
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/docs/protocol/openid-connect/certs
AUTH_SECRET=your_auth_secret
KEYCLOAK_CLIENT_ID=docs-app
KEYCLOAK_CLIENT_SECRET=your_client_secret
KEYCLOAK_INTERNAL_ISSUER=http://keycloak:8080/realms/docs
KEYCLOAK_PUBLIC_ISSUER=http://lvh.me:8080
KC_HOSTNAME=lvh.me
